$br-color:#9400ff;
$text-color:#fff;
// radius
    $br-radius-8: 8px;
    $br-radius-12: 12px;
    $br-radius-16: 16px;
    $br-radius-20: 20px;
    $br-radius-25: 25px;
    $br-radius-30: 30px;
// size
    $fnt-size-14:14px;
    $fnt-size-16:16px;
    $fnt-size-18:18px;
    $fnt-size-20:20px;
    $fnt-size-25:25px;
    $fnt-size-30:30px;
// padding
    $padd-12:12px;
    $padd-12:14px;
    $padd-12:16px;
    $padd-12:18px;
    $padd-12:20px;
    $padd-12:25px;