$br-color:#9400ff;
$text-color:#fff;
// radius
    $br-radius-8: 8px;
    $br-radius-12: 12px;
    $br-radius-16: 16px;
    $br-radius-20: 20px;
    $br-radius-25: 25px;
    $br-radius-30: 30px;
// size
    $fnt-size-12:12px;
    $fnt-size-14:14px;
    $fnt-size-16:16px;
    $fnt-size-18:18px;
    $fnt-size-20:20px;
    $fnt-size-25:25px;
    $fnt-size-30:30px;
    $fnt-size-40:40px;
    $fnt-size-50:50px;
// padding
    $padd-12:12px;
    $padd-12:14px;
    $padd-12:16px;
    $padd-12:18px;
    $padd-12:20px;
    $padd-12:25px;
// rem
    $rem-1:1rem;
    $rem-2:2rem;
    $rem-3:3rem;
    $rem-5:5rem;
    $rem-6:6rem;
    $rem-7:7rem;
    $rem-10:10rem;
    $rem-12:12rem;
    $rem-15:15rem;
// weight
    $font-weight-300:300;
    $font-weight-100:100;
    $font-weight-400:400;
    $font-weight-500:500;
    $font-weight-600:600;
    $font-weight-700:700;
    $font-weight-800:800;
    $font-weight-900:900;