@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
footer {
  text-align: center;
  background-color: #000;
  padding: 6rem 0;
  color: #fff;
}
footer p {
  font-size: 18px;
  margin-top: 1.5rem;
}
footer a {
  text-decoration: none;
  color: #9400fb;
}

.grab_parent {
  text-align: center;
  background-color: #000;
  background-image: url(../../imgs/png/grab.png);
  height: 400px;
  padding: 8rem 0;
}
.grab_parent h1 {
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 2rem;
}
.grab_parent p {
  font-size: 20px;
  width: 100%;
  font-weight: 200;
}
.grab_parent button {
  background-color: #9400ff;
  color: #fff;
  padding: 16px 35px;
  border-radius: 30px;
  border: 1px solid #9400ff;
  text-transform: capitalize;
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-image: url(../../imgs/png/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  height: 750px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
header .navbar .navbar_menu ul {
  display: flex;
  color: white;
  list-style: none;
  gap: 2rem;
  cursor: pointer;
}
header .navbar button {
  padding: 2px 22px;
  background-color: #9400ff;
  border: 1px solid #9400ff;
  color: #fff;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
}
header .hero {
  color: #fff;
  margin-top: 7rem;
}
header .hero h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 40%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
header .hero button {
  background-color: #9400ff;
  color: #fff;
  padding: 16px 35px;
  border-radius: 30px;
  border: 1px solid #9400ff;
  text-transform: capitalize;
}
header .hero .rendered {
  display: flex;
  justify-content: center;
  text-align: start;
  margin-top: 4rem;
  width: 60%;
}
header .hero h3 {
  margin-bottom: 1rem;
}
header .hero p {
  font-size: 14px;
  font-weight: 100;
  width: 60%;
  line-height: 1.7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.unique_box {
  background-color: #000;
  padding: 7rem;
}
.unique_box .unique_text {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}
.unique_box h1 {
  font-size: 50px;
  margin-bottom: 2rem;
  font-weight: 300;
}
.unique_box p {
  font-size: 16px;
  width: 50%;
  margin-left: 1rem;
  line-height: 2;
  margin-bottom: 2rem;
}
.unique_box button {
  background-color: #9400ff;
  color: #fff;
  padding: 16px 35px;
  border-radius: 30px;
  border: 1px solid #9400ff;
  text-transform: capitalize;
}

.icons_parent {
  text-align: center;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  color: #fff;
  margin-bottom: 4rem;
}
.icons p {
  width: 80%;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
