@use'../normal.scss';
@use'../varibles' as*;
header{
    background-image: url(../../imgs/png/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 750px;
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        align-items: center;
        .navbar_menu{
            ul{
            display: flex;
            color: white;
            list-style: none;
            gap: 2rem;
            cursor: pointer;
        }
    }
        button{
            padding: 2px 22px;
            background-color: $br-color;
            border: 1px solid $br-color;
            color: $text-color;
            border-radius: $br-radius-30;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
    .hero{
        color: $text-color;
        margin-top: $rem-7;

        h1{
        font-size: $fnt-size-40;
        font-weight: $font-weight-500;
        letter-spacing: 2px;
        width: 40%;
        margin-bottom: $rem-2;
        margin-top: $rem-2;
        }
        button{
        background-color: $br-color;
        color: $text-color;
        padding: 16px 35px;
        border-radius: $br-radius-30;
        border: 1px solid $br-color;
        text-transform: capitalize;
        }
        .rendered{
            display: flex;
            justify-content: center;
            text-align: start;
            margin-top: 4rem;
            width: 60%;
        }
        h3{
            margin-bottom: $rem-1;
        }
        p{
            font-size: $fnt-size-14;
            font-weight: $font-weight-100;
            width: 60%;
            line-height: 1.7;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        i{
            display: none;
        }
    }
}
